body{
    background-color: #f6f6f6;
}
#mainDiv{
    margin-left: 10%;
    margin-top: 10%;
}
table{
    border: solid black;
    font-size: 120%;
}
th{
    border: solid black;
    font-size: 140%;
    max-width: 100px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td{
    border: solid black;
    font-size: 120%;
    max-width: 100px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
